.main {
  background-color: #FCF9F4; 
  border: 25px solid #43065f;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.content {
 display: flex;
 flex-direction: column;
 align-self: center;
 width: 50%;
 font-family: 'Montserrat', sans-serif;
}


.header {
 font-size: 3em;
 color: #43065f;
 font-weight: bold;
}

.description {
 text-align: justify;
 padding-bottom: 30px;
}

.model {
  align-self: center;
  max-width: 50%;
  max-height: 50%;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-right: 5vw;
}